.mivagy-container {
    background-color: #000;
    position: relative;
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
}

.mivagy-inside-container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
}

.github-logo {
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
}
